@import './base.css';

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* background-color: var(--color-background); */ /* Let Login component handle background */
}

#app {
  width: 100%;
  height: 100%;
}
